.App {
	text-align: center;
	max-width: 100vw;
}

.App::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, cyan, blue);
	mix-blend-mode: overlay;
	opacity: 0.3;
	z-index: 100000;
	pointer-events: none;
}

.App-header {
	background-color: #e5e7eb;
	max-height: 100vh;
	display: flex;
	flex-direction: row;
	font-size: calc(10px + 1.5vmin);
	color: #b6b7b9;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #064e5619;
}

::-webkit-scrollbar-thumb {
	background: #04b4c8;
	border-radius: 3px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
