body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scrollbar-color: rgba(0, 0, 255, 0.158);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	color: #111b21;
}

.card {
	background: var(--surface-card);
	padding: 2rem;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.a {
	text-decoration: none !important;
}

.p-password-input {
	width: 100%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
